
<app-navbar></app-navbar>

<div class="container">
    <form #loginForm="ngForm" (ngSubmit)="loginForm.valid && login()">
        <div class="form-row">
            <div class="form-group text-center">
                <h3>Log in to Tweet-Mania</h3>
            </div>
        </div>
        <div class="form-row">
          <div class="form-group col-12 offset-md-2 col-md-8">
            <input
              type="text" 
              class="form-control"
              id="username"
              name="username"
              placeholder="Username"
              [(ngModel)]="username"
              maxlength="32"
              [required]="true"
            />
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-12 offset-md-2 col-md-8">
            <input
              id="password"
              name="password"
              type="password" 
              class="form-control" 
              placeholder="Password"
              [(ngModel)]="password" 
              [required]="true"
            />
          </div>
        </div>
        <div class='form-row'>
          <div class="form-group col-12 offset-md-2 col-md-8">
            <button type="submit" class="btn btn-theme w-100">Log in</button>
          </div>
        </div>
        <ng-container class="form-row" *ngIf="isErrorToBeShown">
          <div class="form-group col-12 offset-md-2 col-md-8 alert alert-danger"  role="alert">
              {{ error }}
          </div>
        </ng-container>
        <div class='form-row'>
          <div class='form-group text-center col-12 offset-md-2 col-md-8'>
            <a href='#'>Forgot password?</a> &nbsp; &nbsp;
            <a href='#' [routerLink]="['/signup']">Sign up for Tweet-Mania</a>
          </div>
        </div>
    </form>
   
  </div>