<div class="wrapper">
    <div class="who-to-follow-title">
      <div>Follow Similar Users</div>
    </div>

    <ng-container *ngIf="isErrorToBeShown">
      <div class="container">
      <div class="flex d-flex-center">
          <div class="text-center">
            <span>{{ error }} </span>
          </div>
      </div>
      </div>
    </ng-container>

    <ng-container *ngIf="users.length == 0">
      <div class="container">
      <div class="flex">
          <div>
            <span>No More users to follow</span>
          </div>
      </div>
      </div>
    </ng-container>

    <ng-container *ngFor="let user of users; let index=index">
        <div class="container">
        <div class="flex">
            <img src="../../assets/images/{{ user.profileImage }}" alt="" />
            <div>
            <span class="name">{{ user.name }} </span>
            <span class="username">@{{ user.username }}</span>
            </div>
            <div class="button-container">
            <button (click)="followUser(index)">Follow</button>
            </div>
        </div>
        </div>
    </ng-container>

  </div>
  