body {
  --tweet-mania-color: #1976d2;
  --tweet-mania-background: #e6eff5;
  --primary-text-color: #222527;
  --background-color: white;
  --background-color-hover: #e6eff5;
  --border-color: #d5e2eb;
}

.btn{
  border-radius: 20px;
} 
.btn-theme{
  background-color: var(--tweet-mania-color);
  color: white;
  font-weight: 700;
}

a{
  color: var(--tweet-mania-color);
}