.sidebar {
  border-right: 1px solid var(--tweet-mania-background);
  flex: 0.2;
  width: 230px;
  margin-top: 20px;
  padding-left: 15px;
  padding-right: 15px;
}

.sidebarOption {
  display: flex;
  align-items: center;
  cursor: pointer;
}
  
.sidebarOption .material-icons {
  padding: 15px;
}

.sidebarOption h2 {
  font-weight: 800;
  font-size: 18px;
  margin-right: 8px;
}

.sidebarOption:hover {
  background-color: var(--tweet-mania-background);
  border-radius: 30px;
  color: var(--tweet-mania-color);
  transition: color 100ms ease-out;
}

.sidebarOption.active {
  color: var(--tweet-mania-color);
}

  